* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
body {
  background-color: var(--colorbgw);
  font-family: "Roboto";
}
html {
  height: 100%;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
}